.temperature-by-hour-list-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
  border: 1px solid #e0dcdc;
  border-radius: 3px;
  margin-top: 15px;

  .item-wrapper {
    text-align: center;
    width: 100px;
  }

  .hour-item {
    display: block;
    width: 100%;
    background-color: #eaeaea;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 3px;
    font-family: "Noto Sans JP", sans-serif;

    & p {
      margin: 0;
      font-size: 18px;
    }
  }

  .weather-icon {
    width: 30px;
    display: block;
    margin: 0 auto;
  }

  p.condition-text-small {
    font-size: 12px;
    line-height: 28px;
  }

  .temperature-value {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .weather-icon-cell-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .temperature-by-hour-list-wrapper .item-wrapper {
    text-align: left;
    width: auto;
  }

  .temperature-by-hour-list-wrapper .hour-item p {
    font-size: 14spx;
    white-space: normal;
  }

  .temperature-by-hour-list-wrapper p.condition-text-small {
    line-height: 16px;
  }
}
