@import "./style/weather-icons/weather-icons.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap");
@import "~react-vis/dist/style";

.wrapper {
  padding: 30px 0;
  height: 100%;
  min-height: 100vh;

  &.dawn {
    background-image: linear-gradient(
      to bottom,
      #f1be27,
      #ffb685,
      #ffc7d5,
      #ffe6ff,
      #ffffff
    );
  }

  // https://mycolor.space/gradient?ori=to+bottom&hex=%23F1BE27&hex2=%23FFFFFF&sub=1

  &.day {
    background: #ffc107;
    background: -webkit-linear-gradient(bottom, #ffc107, #ffc10994);
    background: -moz-linear-gradient(bottom, #ffc107, #ffc10994);
    background: linear-gradient(to top, #ffc107, #ffc10994);
  }

  &.sunset-dusk {
    background-image: linear-gradient(
      to top,
      #000000,
      #2d2122,
      #563c3c,
      #825a54,
      #ae7b6a,
      #b8826d,
      #c1896f,
      #ca9071,
      #b57c62,
      #a06953,
      #8b5644,
      #764436
    );
  }

  &.night {
    background-image: linear-gradient(
      to top,
      #000000,
      #17000b,
      #210018,
      #260226,
      #250538,
      #220f45,
      #1b1953,
      #072360,
      #0d3067,
      #193d6d,
      #274972,
      #365576
    );
  }
}

.app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/*Bootstrap overwrites*/
.list-group-flush {
  border-radius: 3px;
}
